*{
	padding:0;
	margin:0;
}


#navigation{
   width: 100%;
   height: 50px;
   background: black;
   margin:0 auto;
}
#loginAndRegister{
    width: 250px;
    background: lightgrey;
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}
    #registerForm{
        display: none;
    }